@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #195796;
    color: white;
    text-transform: capitalize;
    
}
nav{
    padding: none;
    color: white;
}

h3{
    width: 20%;
    font-family: 'Roboto Mono', monospace;
    float: left;
    letter-spacing: 1.5px;
    margin-bottom: none;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.nav-link{
    width: auto;
    color: white;
}
.nav-link:hover{
    color: white;
}
.bloackquote-footer{
    color: white;
}
cite{
    color: white;
}
.para1{
    margin-top: 50px;
    display: flex;
    border-top: 1px solid white;
}
.subpara1, .subpara2{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.04), 6px 6px 6px 6px rgba(0, 0, 0, 0.06);
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 40%;
}
#p, #p2{
    font-size: 60px;
    width: 50%;
}
.part2{
    margin-left: 20px;
    width: 50%;
    font-size: large;
}
.more{
    display: inline-flex;
}
.para2{
    margin-top: 10vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: large;
}
.pic1, .pic2, .pic3{
    margin-left: 5vh;
    width: 15%;
    height: auto;
}
.img-thumbnail{
    margin-right: auto;
    width: auto;
    height: auto;
}
.sub-para1{
    margin-left: auto;
    width: 50%;
}
.dropdown-menu{
    position: absolute;
    text-align: center;
    list-style: none;
    text-decoration: none;
}
.nav-item::active{
    color: white;
}
a{
    text-decoration: none;
    cursor: pointer;
}
hr::hover, hr::active{
    cursor: not-allowed;
}
figure{
    padding-top: 30px;
    letter-spacing: 1px;
}
.footer{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    letter-spacing: 1px;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 10vh;
}
i{
    font-size: x-large;
    margin-left: 15px;
}
@media only screen and (max-width: 900px) {
    h3{
        letter-spacing: 1px;
        font-size: large;
    }
    li{
        font-size: small;
    }
    figure, cite{
        font-size: small;
    }
    .para1{
        margin-top: 50px;
        display: inline-block;
        width: 100%;
        height: auto;
        border-top: 1px solid white;
    }
    .sub-para1{
        font-size: 17px;
        width: 100%;
    }
    .subpara1, .subpara2{
        display: inline-flex;
        text-align: center;
        justify-content: center;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.02), 3px 3px 3px 3px rgba(0, 0, 0, 0.04);
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: auto;
    }
    #p, #p2{
        font-size: 40px;
        width: 50%;
    }
    .part2{
        margin-left: 20px;
        width: 50%;
        font-size: large;
    }
    .para2{
        margin-top: 10vh;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: large;
    }
    .pic1, .pic2, .pic3{
        margin-left: 5vh;
        width: 15%;
        height: auto;
    }
    .img-thumbnail{
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        height: auto;
    }
    .more{
        font-size: xx-small;
    }
    i{
        margin-left: 2px;
        font-size: large;
    }
}